th { 
     background: #00adf2; 
     color: white; 
     font-weight: bold; 
   }
	
/* 
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
*/
	     @media 
	     only screen and (max-width: 760px),
	     (min-device-width: 768px) and (max-device-width: 1024px)  {
		
		     tr { border: 1px solid #ccc; }
		
		     td { 
			     /* Behave  like a "row" */
			     border: none;
			     border-bottom: 1px solid #eee; 
			     position: relative;
			     padding-left: 10%;/*50%;*/ 
		     }
		
	     }
	
	     /* Smartphones (portrait and landscape) ----------- */
	     @media only screen
	     and (min-device-width : 320px)
	     and (max-device-width : 480px) {
		     body { 
			     padding: 0; 
			     margin: 0; 
			     width: 320px;
			     font: 8px/1.4 Georgia, Serif; }
		     }
	
	     /* iPads (portrait and landscape) ----------- */
	     @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		     body { 
			     width: 495px; 
		     }
	     }
